{#src/Shop/ShopBundle/Resources/views/Page/login.html.twig #}
{% extends 'ShopShopBundle::layout.html.twig' %}

{% block body %}
    Login Page and Form
<hr />
<ul>
<li>Links to Registration and Forgot Password</li>
<hr />
<li><a href="{{ path('ShopShopBundle_forgot') }}">Forgot Your Password ?</a></li>
<li><a href="{{ path('ShopShopBundle_register') }}">Register Now!</a></li>
</ul>
{% endblock %}
